:root{
    --primary:#ddd;
    --secondary:rgb(230, 230, 230);
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 16px;
}

header h1{
    text-align: center;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-body{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary);
}

.main-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-input{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    width: 90%;
}

.main-input-nombre{
    display: flex;
    align-items: center;
}

.main-input-nombre p{
    width: 50%;
}

.main-input-nombre input{
    width: 50%;
}

.main-input-edad{
    display: flex;
    align-items: center;
}

.main-input-edad p{
    width: 50%;
}

.main-input-edad input{
    width: 50%;
}

.main-input-nac{
    display: flex;
    align-items: center;
}

.main-result{
    width: 80%;
    height: 500px;
    background: var(--secondary);
    margin: 20px;
}

.main-result p{
    width: 100%;
    height: 100%;
    text-align: center;
}